/* main color: #a77b4e */


/** GENERAL **/

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    text-align: center;
    font-size: 28px;
    color: #a77b4e;
    font-weight: bold;
    margin: 0;
}


/** /GENERAL **/


/** HEADER **/

#header {
    color: #a77b4e;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    z-index: 21;
    position: relative;
}

#header a {
    color: #a77b4e;
}

#header .center {
    text-align: center;
}

#header .logo {
    width: 170px;
    height: 70px;
}

@media screen and (min-width: 768px) {
    #header .left {
        padding-top: 45px;
    }
    #header .right {
        padding-top: 45px;
    }
}

#header .lang {
    border: 1px solid #a77b4e;
    border-radius: 5px;
    padding: 5px 10px;
    color: #a77b4e;
    margin-right: 15px;
}

#header .action:first-child {
    padding-left: 20px;
}

#header .action:not(:first-child) {
    border-right: 1px solid #a77b4e;
    padding: 0 20px;
}

#header .icon-account {
    margin-right: 10px;
}

#header .icon {
    display: inline-block;
    vertical-align: baseline;
}


/** /HEADER **/


/** NAV **/

#nav {
    background: #a77b4e;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 21;
}

#nav li a {
    color: white;
}

#nav .navbar-toggle:focus {
    background: none;
}

#nav .navbar-toggle:hover {
    background: white;
}

#nav .icon-bar {
    background: white;
}

#nav .navbar-toggle:hover .icon-bar {
    background: #a77b4e;
}

#nav ul.nav {
    position: relative;
}

#nav ul.nav li {
    position: static;
}

@media screen and (min-width: 768px) {
    #nav ul.nav {
        float: none;
        text-align: justify;
        font-size: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    #nav ul.nav::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    #nav ul.nav li {
        display: inline-block;
        float: none;
        font-size: initial;
        transition-duration: .2s;
    }
    #nav .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

#nav ul.nav li:hover {
    background: rgba(255, 255, 255, .3);
}

#nav ul.nav li.active > a {
    background: rgba(255, 255, 255, .3);
}

#nav ul.nav li:hover > a {
    position: relative;
}

#nav ul.nav li:hover > a:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    display: inline-block;
    border: solid transparent;
    border-width: 11px;
    border-bottom-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 9px;
}


/** /NAV **/


/** MAIN SLIDER **/

#main-slider .slide-title-sm {
    font-size: 2.0vw;
    color: black;
    font-weight: normal;
    margin: 0;
}

#main-slider .slide-title-lg {
    font-size: 4vw;
    /* line-height: 56px; */
    color: black;
    font-weight: normal;
    font-weight: bolder;
    margin: 0;
    margin-top: 0.2vw;
}

#main-slider .slide-title-lg span {
    color: #a77b4e;
}

#main-slider .slide-1 .shop-now {
    border: 0.2vw solid #a77b4e;
    padding: 0.5vw 1.2vw;
    color: #a77b4e;
    display: inline-block;
    margin-top: 1.6vw;
    font-weight: 600;
    font-size: 1.4vw;
}

#main-slider .ratio-wrapper-team-img::before {
    padding-top: 69.4%;
}

#main-slider .swiper-button-next {
    right: 5px;
}

#main-slider .swiper-button-prev {
    left: 5px;
}

@media screen and (min-width: 992px) {
    #main-slider .swiper-button-next {
        right: 65px;
    }
    #main-slider .swiper-button-prev {
        left: 65px;
    }
}

#main-slider .swiper-slide {
    overflow: hidden;
}

#main-slider .swiper-pagination-bullet {
    border: 3px solid #a77b4e;
    border-radius: 50%;
    background: none;
    height: 15px;
    width: 15px;
    opacity: 1;
}

#main-slider .swiper-pagination-bullet-active {
    background: #a77b4e;
}

#main-slider .slide-1 .right {
    padding-top: 8vw;
}


/*@media screen and (min-width: 768px) {
		}*/


/** /MAIN SLIDER **/


/** CATEGORIES **/

#categories {
    margin-top: 30px;
}

#categories .image {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;
}

#categories .image::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 86px;
    background: #EF0E0E;
    background: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
    background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
    background: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
    background: -ms-linear-gradient(top, transparent 0, rgba(0, 0, 0, .7) 100%);
    background: linear-gradient(top bottom, transparent 0, rgba(0, 0, 0, .7) 100%);
}

#categories .image-half,
#categories .image-full {
    height: 250px;
}

@media screen and (min-width: 768px) {
    #categories .image-full {
        height: 530px;
    }
}

#categories .cate {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}


/** /CATEGORIES **/


/** ADS **/

#ads .image {
    display: block;
}

#ads .image img {
    width: 100%;
}

#ads .row {
    margin: 0;
}

#ads .row > * {
    padding: 0;
}


/** /ADS **/


/** TOP PRODUCTS **/

#top-products {
    margin-top: 100px;
}

#top-products .image {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#top-products .swiper {
    position: relative;
    margin-top: 30px;
}

#top-products .swiper-button-next,
#top-products .swiper-button-prev {
    transform: translateY(-100%);
}

#top-products .swiper-slide {
    text-align: center;
    border: 1px solid transparent;
}

#top-products .swiper-slide:hover {
    border-color: #a77b4e;
}

#top-products .name {
    font-weight: bold;
    color: #a77b4e;
    font-size: 20px;
    margin: 15px 0 0;
}

#top-products a:hover {
    text-decoration: none;
}

#top-products .price {
    color: #a77b4e;
    margin-top: 10px;
}


/** /TOP PRODUCTS **/


/** CUSTOMERS **/

#customers {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
    background: rgb(249, 249, 249);
}

#customers .image {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 120px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition-duration: 0;
}

#customers .image:hover,
#customers .image:active {
    -webkit-filter: grayscale(0);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

#customers .swiper {
    margin-top: 50px;
    position: relative;
}


/*#customers .swiper-button-next,
	#customers .swiper-button-prev {
		background: none;
		color: #a77b4e;
		font-size: 30px;
		transform: translateY(-22px);
		}*/


/** /CUSTOMERS **/


/** Modify Swipers **/

.swiper-button-next,
.swiper-button-prev {
    text-align: center;
    background: none;
    color: #a77b4e;
    font-size: 22px;
}

#top-products .swiper-button-next,
#customers .swiper-button-next {
    right: -45px;
}

#top-products .swiper-button-prev,
#customers .swiper-button-prev {
    left: -45px;
}

#top-products .swiper,
#customers .swiper {
    margin-left: 45px;
    margin-right: 45px;
}

@media screen and (min-width: 1200px) {
    #top-products .swiper,
    #customers .swiper {
        margin-left: 0;
        margin-right: 0;
    }
}


/** /Modify Swipers * **/

#footer {
    background-color: #a77b4e;
    color: white;
    padding: 75px;
}

#footer .feature-container .logo {
    display: block;
    margin-bottom: 15px;
}

#footer .feature-container .logo img {
    width: 200px;
    height: 78px;
}

#footer .feature-container .description label {
    display: block;
}

#footer .feature-container .feature ul {
    list-style: none;
    margin-left: -37px;
}

#footer .feature-container .feature ul li:first-child {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

#footer .feature-container .feature ul li {
    margin-top: 13px;
}

#footer .feature-container .feature ul li a {
    color: white;
}

#footer .feature-container .feature ul li a:hover {
    text-decoration: none;
}

#footer .feature-container .search-content {
    margin-top: 25px;
}

#footer .feature-container .search-content input {
    width: calc(78% - 10px);
    height: 35px;
    background-color: #a77b4e;
    outline: none;
    padding: 10px;
    border: 2px groove white;
}

#footer .feature-container .search-content button {
    color: #a77b4e;
    background-color: white;
    width: 35px;
    height: 34px;
    border: 0 white;
    outline: none;
    transform: translateX(-14%);
}

#footer .feature-container .social div {
    display: inline-block;
    margin-top: 25px;
    font-size: 37px;
}

#copyright {
    color: #a77b4e;
    padding: 15px;
    font-size: 12px;
}


/*design for contact*/


/*design for map*/

#contact .maps {
    margin-bottom: 30px;
}

#contact .maps #map-canvas {
    width: 100%;
    height: 400px;
}


/*end map*/

#contact .discription-content {
    margin-bottom: 45px;
}

#contact .discription-content span {
    margin-bottom: 12px;
    margin-top: 12px;
    display: block;
}

#contact .discription-content .here {
    text-decoration: none;
    color: #a77b4e;
    font-weight: 600;
    font-size: 20px;
}

#contact .contact-content .left ul {
    list-style: none;
    padding: 0;
}

#contact .contact-content .left ul .title {
    margin-top: 15px;
    color: #a77b4e;
}

#contact .contact-content .left>h4 {
    text-transform: uppercase;
    color: #a77b4e;
    font-weight: 600;
    margin-top: 20px;
}

#contact .contact-content .left .title {
    color: #a77b4e;
    margin-bottom: 20px;
}

#contact .contact-content .right .form-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
}

#contact .contact-content .right .form-group textarea {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #333;
    resize: none;
}

#contact .contact-content .right .form-group select {
    box-shadow: none;
    border: 1px solid #333;
    border-radius: 0;
}

#contact .contact-content .right input[type="button"] {
    border: none;
    padding: 5px 20px;
    background-color: #a77b4e;
    color: white;
}

#contact .contact-content .right fieldset {
    border: 1px double #a77b4e;
    padding: 10px 30px 25px;
}

#contact .contact-content .right legend {
    width: auto;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #a77b4e;
}

.navigator {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: auto;
    background: white;
    z-index: 10;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    /* padding-right: 40px; */
}

.navigator a:hover {
    text-decoration: none;
}

.navigator .image-wrapper {
    height: 360px;
    overflow: hidden;
    padding: 0;
}

.navigator .image {
    width: 100%;
}

.navigator .sub-menu {}

.navigator .sub-menu a {
    text-transform: uppercase;
    color: #a77b4e !important;
    margin-top: 45px;
    display: inline-block;
}

.dark-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 20;
}

#download-cata {
	background: #a77b4e;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	transform-origin: bottom right;
	position: fixed;
	right: 0;
	top: 50%;
	width: auto;
	display: inline-block;
	z-index: 19;
	padding: 10px;
	transform: translate(0%, -300%) rotate(-90deg);
}

@media (max-width: 767px) {
	.navigator,
	.dark-bg,
	#nav ul.nav li:hover > a:after {
		display: none !important;
	}
}